/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
  font-family: "Agrandir";
  src: url("/fonts/PPAgrandir-Regular.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: Agrandir, sans-serif;
  margin: 0px;
  text-align: left;
  background-color: #0c102c;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: white;
}
h2 {
  font-size: 52px;
  font-weight: 100;
  color: white;
}
h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 100;
  color: white;
}
h5 {
  margin: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}
p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.85);
}
h4,
h6,
strong,
b {
  color: #637ffd;
}
a {
  color: white;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #637ffd;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
section {
  margin-bottom: 6.25rem;
}
.content-container {
  position: relative;
  margin: 0 16rem;
  padding: 48px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .content-container {
    position: relative;
    margin: 0 1rem;
    padding: 0;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1025px) {
}
