---
import BaseHead from "../components/BaseHead.astro";
import Section from "../components/Section.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RightBar from "../components/RightBar.astro";
import LeftBar from "../components/LeftBar.astro";
import ProjectList from "../components/ProjectList.astro";
import BlogPosts from "../components/BlogPosts.astro";
import Separator from "../components/Separator.astro";
---

<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Hero />
    <LeftBar hidden />
    <RightBar hidden />
    <main class="content-container">
      <Section id="projects" header="Side Projects">
        <p>
          Plongez dans mon royaume de pixels et de possibilités, où le
          développement web innovant rencontre le design artistique. Ce
          portfolio est une sélection de projets qui mettent en évidence ma
          capacité à transformer des concepts en expériences en ligne
          captivantes.
        </p>
        <Separator />
        <!-- <ProjectList /> -->
      </Section>
      <Section
        id="blog"
        header="Blog"
        withButton="true"
        buttonLink="/blog"
        iconPath="/icons/right-arrow.svg"
        buttonText="Tous les articles"
      >
        <p>
          Hac ita persuasione reducti intra moenia bellatores obseratis undique
          portarum aditibus, propugnaculis insistebant et pinnis, congesta
          undique saxa telaque habentes in promptu.
        </p>
        <Separator />
        <BlogPosts />
      </Section>
    </main>
    <Footer />
  </body>
</html>
