---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RightBar from "../components/RightBar.astro";
import LeftBar from "../components/LeftBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Hero />
    <RightBar hidden />
    <LeftBar hidden />
    <main class="content-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        fermentum, nulla ut malesuada hendrerit, magna ex sagittis sapien, ac
        dignissim augue lectus vel nunc. Pellentesque tincidunt scelerisque
        rhoncus. Phasellus ullamcorper ut augue ullamcorper imperdiet. Etiam in
        semper mauris. Sed tortor lacus, mattis at pellentesque pellentesque,
        tempor a neque. Etiam cursus nec urna et ornare. Duis venenatis
        dignissim posuere.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        fermentum, nulla ut malesuada hendrerit, magna ex sagittis sapien, ac
        dignissim augue lectus vel nunc. Pellentesque tincidunt scelerisque
        rhoncus. Phasellus ullamcorper ut augue ullamcorper imperdiet. Etiam in
        semper mauris. Sed tortor lacus, mattis at pellentesque pellentesque,
        tempor a neque. Etiam cursus nec urna et ornare. Duis venenatis
        dignissim posuere.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        fermentum, nulla ut malesuada hendrerit, magna ex sagittis sapien, ac
        dignissim augue lectus vel nunc. Pellentesque tincidunt scelerisque
        rhoncus. Phasellus ullamcorper ut augue ullamcorper imperdiet. Etiam in
        semper mauris. Sed tortor lacus, mattis at pellentesque pellentesque,
        tempor a neque. Etiam cursus nec urna et ornare. Duis venenatis
        dignissim posuere.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        fermentum, nulla ut malesuada hendrerit, magna ex sagittis sapien, ac
        dignissim augue lectus vel nunc. Pellentesque tincidunt scelerisque
        rhoncus. Phasellus ullamcorper ut augue ullamcorper imperdiet. Etiam in
        semper mauris. Sed tortor lacus, mattis at pellentesque pellentesque,
        tempor a neque. Etiam cursus nec urna et ornare. Duis venenatis
        dignissim posuere.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        fermentum, nulla ut malesuada hendrerit, magna ex sagittis sapien, ac
        dignissim augue lectus vel nunc. Pellentesque tincidunt scelerisque
        rhoncus. Phasellus ullamcorper ut augue ullamcorper imperdiet. Etiam in
        semper mauris. Sed tortor lacus, mattis at pellentesque pellentesque,
        tempor a neque. Etiam cursus nec urna et ornare. Duis venenatis
        dignissim posuere.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        fermentum, nulla ut malesuada hendrerit, magna ex sagittis sapien, ac
        dignissim augue lectus vel nunc. Pellentesque tincidunt scelerisque
        rhoncus. Phasellus ullamcorper ut augue ullamcorper imperdiet. Etiam in
        semper mauris. Sed tortor lacus, mattis at pellentesque pellentesque,
        tempor a neque. Etiam cursus nec urna et ornare. Duis venenatis
        dignissim posuere.
      </p>
    </main>
    <Footer />
  </body>
</html>
