---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RightBar from "../components/RightBar.astro";
import LeftBar from "../components/LeftBar.astro";
import Separator from "../components/Separator.astro";
import ProjectList from "../components/ProjectList.astro";
import BlogPosts from "../components/BlogPosts.astro";
---

<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Hero />
    <LeftBar hidden />
    <RightBar hidden />
    <main class="content-container">
      <section class="sub-content">
        <h2>Projets</h2>
        <p>
          Plongez dans mon royaume de pixels et de possibilités, où le
          développement web innovant rencontre le design artistique. Ce
          portfolio est une sélection de projets qui mettent en évidence ma
          capacité à transformer des concepts en expériences en ligne
          captivantes.
        </p>
        <Separator />
        <ProjectList />
        <!-- <Category name="SEO" color="#FDD263"></Category>
        <Category name="E-commerce" color="#8499F7"></Category>
        <Category name="SEA" color="#FD6363"></Category>
        <Category name="Web development" color="#44CB8A"></Category>
        <Category name="LEAN" color="#F987E6"></Category>
        <Category name="Scrum" color="#EB8D48"></Category>
        <Category name="Kanban" color="#B7E13F"></Category>
        <Category name="Agile" color="#3FE1D8"></Category> -->
      </section>
      <section>
        <h2>Blog</h2>
        <p>
          Hac ita persuasione reducti intra moenia bellatores obseratis undique
          portarum aditibus, propugnaculis insistebant et pinnis, congesta
          undique saxa telaque habentes in promptu.
        </p>
        <Separator />
        <BlogPosts />
      </section>
    </main>
    <Footer />
  </body>
</html>
