---
const today = new Date();
---

<div class="bottom-bar">
  <span>&copy; {today.getFullYear()} Nicolas TOISON</span>
  <span>Mention Légales</span>
  <span>Sitemap</span>
</div>
<style>
  .bottom-bar {
    position: relative;
    padding: 1.25rem 3rem;
    background-color: #1D2656;
    text-align: left;
    margin: 0 0 0 -3rem ;
  }
</style>
