---
const today = new Date();
---

<div class="bottom-bar">
  &copy; {today.getFullYear()} Nicolas TOISON
</div>
<style>
  .bottom-bar {
    position: relative;
    margin-left: 16rem;
    margin-right: 19rem;
    padding: 1.25rem 3rem;
    background-color: #1D2656;
    text-align: left;
  }
</style>
