---
import Button from "./Button.astro";
---

<div class="cta">
  <h3>
    👋 Vous avez une idée, un projet ou simplement l'envie d'explorer de
    nouvelles possibilités numériques ?
  </h3>
  <div>
    <p>
      Vous êtes à un clic de donner vie à vos projets. En tant que développeur
      Front-End, je suis ici pour transformer vos idées en applications web
      intuitives, performantes et accessibles.
    </p>
    <Button
      href="mailto:hello@nicolastoison.fr?subject=👋%20I%20would%20like%20to%20work%20with%20you"
      target="_blank"
      icon="/icons/mail.svg"
      class="secondary"
    >
      Travailler avec moi
    </Button>
  </div>
</div>
<style>
  .cta {
    padding: 1.5rem 2rem;
    background-color: #637ffd;
    margin-bottom: 6.25rem;
    & div {
      display: inline-flex;
      align-items: center;
      > p {
        margin-inline-end: 2rem;
        max-width: 35.675rem;
      }
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .cta {
      padding: 0.75rem 1rem;
      background-color: #637ffd;
      margin-bottom: 4.25rem;
      & div {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        > p {
          margin-inline-end: 2rem;
          max-width: 35.675rem;
        }
      }
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-device-width: 1025px) {
  }
</style>
