---
import BottomBar from "./BottomBar.astro";
import CtaSection from "./CtaSection.astro";
import Values from "./Values.astro";
import Logo from "./Logo.astro";
---

<footer>
  <CtaSection />
  <Values />
  <div class="footer">
    <div>
      <Logo />
      <p>
        Développeur Front-End, spécialisé Angular & ReactJS. Je suis passionné
        par les nouvelles technologies, le vélo 🚲, l'espace 🚀 et les sport
        mécaniques ⚙️
      </p>
    </div>
    <div class="footer-menu">
      Menu
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/a-propos">A propos</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <a
            href="mailto:hello@nicolastoison.fr?subject=👋%20I%20would%20like%20to%20work%20with%20you"
            >Me contacter</a
          >
        </li>
      </ul>
    </div>
  </div>
  <BottomBar />
</footer>
<style>
  footer {
    position: relative;
    margin: 0 16rem;
    padding: 3rem 3rem 0 3rem;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: max-content;
    margin-bottom: 4rem;
    & div:first-child {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    & div:last-child {
      font-weight: 700;
      font-size: 1.5rem;
      margin-inline-start: 5rem;
      ul {
        font-weight: 400;
        font-size: 1rem;
        padding-left: 0;
        line-height: 1.5rem;
        li {
          list-style: none;
          margin-bottom: 0.75rem;
        }
      }
    }
  }

  .footer-menu {
    & > ul > li > * {
      text-decoration: none;
    }
    & *:hover {
      color: #637ffd;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    footer {
      position: relative;
      margin: 0 1rem;
      padding: 0;
    }
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1025px) {
  }
</style>
