---
import BottomBar from './BottomBar.astro'
import CtaSection from './CtaSection.astro'
import Values from './Values.astro'
import Logo from './Logo.astro'
const today = new Date()
---

<footer>
  <CtaSection />
  <Values />
  <div class="footer">
    <div>
      <Logo />
      <p>
        Orci enim nulla sem vel aliquam eros eu. Vitae pharetra accumsan et amet
        adipiscing bibendum cursus. Mattis feugiat egestas dignissim ac
        tincidunt vel interdum. Adipiscing cursus sed malesuada id urna.
      </p>
    </div>
    <div>
      Menu
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/blog">Blog</a></li>
        <li>
          <a
            href="mailto:hello@nicolastoison.fr?subject=👋%20I%20would%20like%20to%20work%20with%20you"
            >Work with me</a
          >
        </li>
      </ul>
    </div>
  </div>
  <BottomBar />

  <style>
    footer {
      position: relative;
      margin: 0 16rem;
      padding: 3rem 3rem 0 3rem;
    }

    .footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: max-content;
      margin-bottom: 4rem;
      & div:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      & div:last-child {
        font-weight: 700;
        font-size: 1.5rem;
        ul {
          font-weight: 400;
          font-size: 1rem;
          padding-left: 0;
          line-height: 1.5rem;
          li {
            list-style: none;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  </style>
</footer>
