---
import BottomBar from './BottomBar.astro'
import Button from './Button.astro'
import Values from './Values.astro'
import Logo from './Logo.astro'
const today = new Date()
---

<footer>
  <div class="cta">
    <h3>👋 Id volutpat neque justo laoreet ac ?</h3>
    <div>
      <p>
        Scelerisque gravida lectus nunc massa vestibulum quisque suspendisse
        elit. Aliquam venenatis duis amet vitae odio. Condimentum turpis massa.
      </p>
      <Button
        href="mailto:hello@nicolastoison.fr?subject=👋%20I%20would%20like%20to%20work%20with%20you"
        target="_blank"
        icon="/icons/mail.svg"
      >
        work with me
      </Button>
    </div>
  </div>
  <Values />
  <div class="footer">
    <div>
      <Logo />
      <p>
        Orci enim nulla sem vel aliquam eros eu. Vitae pharetra accumsan et amet
        adipiscing bibendum cursus. Mattis feugiat egestas dignissim ac
        tincidunt vel interdum. Adipiscing cursus sed malesuada id urna.
      </p>
    </div>
    <div>
      Menu
      <ul>
        <li>Home</li>
        <li>About me</li>
        <li>Blog</li>
        <li>Work with me</li>
      </ul>
    </div>
  </div>
  <BottomBar />

  <style>
    footer {
      position: relative;
      margin: 0 16rem;
      padding: 3rem 3rem 0 3rem;
    }
    .cta {
      padding: 1.5rem 2rem;
      background-color: #637ffd;
      margin-bottom: 6.25rem;

      & div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        & p {
          grid-column-start: 1;
          grid-column-end: 11;
        }
        & a {
          grid-column-start: 11;
          grid-column-end: 13;
        }
      }
    }
    .footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: max-content;
      margin-bottom: 4rem;
      & div:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      & div:last-child {
        font-weight: 700;
        font-size: 1.5rem;
        ul {
          font-weight: 400;
          font-size: 1rem;
          padding-left: 0;
          line-height: 1.5rem;
          li {
            list-style: none;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  </style>
</footer>
