---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, icon, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <img class:list={{ active: isActive }} src={icon} alt="menu icon" />
  <slot />
</a>
<style>
  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 32px;
    margin-top: auto;
    margin-bottom: auto;
  }
  img {
    margin: auto;
    padding-right: 12px;
  }
  a.active {
    color: #637ffd;
  }
</style>
