---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
---

<header>
  <Logo />
  <nav>
    <HeaderLink href="/" icon="/icons/home.svg">HOME</HeaderLink>
    <HeaderLink href="/about" icon="/icons/user.svg">ABOUT ME</HeaderLink>
    <HeaderLink href="/blog" icon="/icons/comment.svg">BLOG</HeaderLink>
  </nav>
</header>
<style>
  header {
    width: 100%;
    display: inline-flex;
    align-items: center;
    background: linear-gradient(180deg, #0C102C 0%, rgba(12, 16, 44, 0) 100%);
  }
  nav {
    position: absolute;
    right: 64px;
  }
</style>
