---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, icon, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <img class:list={{ active: isActive }}src={icon} alt="menu icon" />
  <slot />
</a>
<style>
  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 32px;
    margin-top: auto;
    margin-bottom: auto;
  }
  img {
    margin: auto;
    padding-right: 12px;
    filter: invert(100%);
  }
  a.active {
    color: #637ffd;
  }
  /**
  * Tool to compute filter based on the targeted color : https://codepen.io/sosuke/pen/Pjoqqp
  */
  img.active{
    filter: invert(50%) sepia(63%) saturate(3791%) hue-rotate(212deg) brightness(101%) contrast(98%);
  }
</style>
