---
import Header from "../components/Header.astro";
import Button from "./Button.astro";

const yearBeginningDeveloping = new Date("2012").getFullYear();
const yearBeginningFreelancing = new Date("2020").getFullYear();
const today = new Date().getFullYear();
const yearsOfExperience = today - yearBeginningDeveloping;
const yearsOfFreelancing = today - yearBeginningFreelancing;
---

<div class="homepage-container">
  <lottie-player src="/animations/bleu-sombre.json" speed="0.5" loop autoplay
  ></lottie-player>
  <Header />
  <div class="hero-container">
    <span> Salut👋 !</span><br />
    <span>Je m'appelle <span class="accentued">Nicolas</span></span>
    <h1>
      Je suis passionné de technologie depuis toujours, j'ai occupé plusieurs
      postes dans le domaine du développent logiciel depuis {yearsOfExperience}
      ans et suis Freelance depuis {yearsOfFreelancing} ans.
    </h1>
    <Button href="/about" icon="/icons/home.svg">ABOUT ME</Button>
  </div>
  <img
    class="icon-scroll-down"
    src="/icons/scroll-down.svg"
    alt="scroll dowzn icon"
  />
</div>
<!-- Lottie Player import -->
<script
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  async
  defer></script>
<style>
  .homepage-container {
    height: 100vh;
    background: linear-gradient(180deg, #0c102c 0%, rgba(12, 16, 44, 0) 20%);
  }
  lottie-player {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 87%;
  }
  .hero-container {
    position: relative;
    top: 127px;
    left: 176px;
    font-size: 64px;
    font-weight: 500;
    width: 40%;
  }
  .hero-container > h1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    font-weight: 400;
  }
  .accentued {
    color: #637ffd;
  }
  .icon-scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
  }
</style>
