---
import Header from "../components/Header.astro";
import Button from "./Button.astro";

const yearBeginningDeveloping = new Date("2012").getFullYear();
const yearBeginningFreelancing = new Date("2020").getFullYear();
const today = new Date().getFullYear();
const yearsOfExperience = today - yearBeginningDeveloping;
const yearsOfFreelancing = today - yearBeginningFreelancing;
---

<div class="homepage-container">
  <lottie-player src="/animations/bleu-sombre.json" speed="0.5" loop autoplay
  ></lottie-player>
  <Header />
  <div class="hero-container">
    <span> Salut👋 !</span><br />
    <span>Je m'appelle <span class="accentued">Nicolas</span></span>
    <h1>
      Je suis passionné de technologie depuis toujours, j'ai occupé plusieurs
      postes dans le domaine du développent logiciel depuis {yearsOfExperience}
      ans et suis Freelance depuis {yearsOfFreelancing} ans.
    </h1>
    <Button href="/a-propos" icon="/icons/user.svg">A propos</Button>
  </div>
  <img
    class="icon-scroll-down"
    src="/icons/scroll-down.svg"
    alt="scroll dowzn icon"
  />
</div>
<!-- Lottie Player import -->
<script
  src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  async
  defer></script>
<style>
  .homepage-container {
    height: 100vh;
    background: linear-gradient(180deg, #0c102c 0%, rgba(12, 16, 44, 0) 20%);
  }
  lottie-player {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 87%;
  }
  .hero-container {
    position: relative;
    left: 11rem;
    font-size: 4rem;
    font-weight: 500;
    width: 40%;
  }
  .hero-container > h1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1rem;
    font-weight: 400;
  }
  .accentued {
    color: #637ffd;
  }
  .icon-scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .homepage-container {
      max-width: fit-content;
    }
    lottie-player {
      display: none;
    }
    .hero-container {
      width: unset;
      left: 1.5rem;
      right: 1.5rem;
      font-size: 3rem;
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1025px) {
  }
</style>
