---
const { bordered } = Astro.props;
---

<a href="/" class:list={{ bordered }}>
  <img
    src="/logo/logo_sombre.svg"
    alt="Logo de Nicolas TOISON"
    width="130px"
    loading="eager"
  />
</a>
<style>
  a {
    position: relative;
    margin: 48px 0px;
  }
  .bordered {
    margin: 0;
    padding: 68px 48px;
    border-right: solid 1px #1d2656;
    border-bottom: solid 1px #1d2656;
  }
</style>
