---
---

<a href="/">
  <img
    src="/logo/logo_sombre.svg"
    alt="Logo de Nicolas TOISON"
    width="130px"
    loading="eager"
  />
</a>
<style>
  a {
    position: relative;
    margin: 48px 0px;
  }
</style>
