---
const { bordered } = Astro.props;
---

<a href="/" class:list={{ bordered }}>
  <img
    src="/logo/logo_sombre.svg"
    alt="Logo de Nicolas TOISON"
    loading="eager"
  />
</a>
<style>
  a {
    position: relative;
    margin: 48px 68px;
  }
  .bordered {
    margin: 0;
    padding: 48px 68px;
    border-bottom: solid 1px #1d2656;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    a {
      margin: 1.5rem;
      > img {
        height: 47px;
      }
    }
  }



  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-device-width: 1025px) {
  }
</style>
