---
import Button from "./Button.astro";

const { hidden } = Astro.props;
---

<aside class:list={["rightbar", { hidden }]}>
  <div class="rightbar-inner-container">
    <span>👋</span>
    <span>Vous avez une idée ou un projet ?</span>
    <Button
      href="mailto:hello@nicolastoison.fr?subject=👋%20I%20would%20like%20to%20work%20with%20you"
      target="_blank"
      icon="/icons/mail.svg"
    >
      Me contacter
    </Button>
  </div>
</aside>
<style>
  .rightbar {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-flex;
    flex-direction: column;
    max-width: 14rem;
    margin-top: 3rem;
    margin-right: 2rem;
    border: 1px solid #1d2656;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .rightbar-inner-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
  }
  .rightbar-inner-container > * {
    margin-bottom: 16px;
  }
  .rightbar-inner-container span:first-child {
    font-weight: 700;
    font-size: 48px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .rightbar {
      display: none;
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  }

  @media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width: 1025px) {
  }
</style>
