---
import Button from "./Button.astro";

const { hidden } = Astro.props;
---

<div class:list={["rightbar", { hidden }]}>
  <div class="rightbar-inner-container">
    <span>👋</span>
    <span>Id volutpat neque justo laoreet ac ?</span>
    <Button href="/about" icon="/icons/mail.svg">work with me</Button>
  </div>
</div>
<style>
  .rightbar {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-flex;
    flex-direction: column;
    max-width: 13%;
    margin: 48px 32px;
    border: 1px solid #1d2656;
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .rightbar-inner-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 224px;
    padding: 24px 16px;
  }
  .rightbar-inner-container > * {
    margin-bottom: 16px;
  }
  .rightbar-inner-container span:first-child {
    font-weight: 700;
    font-size: 48px;
  }
</style>
