---
import Separator from './Separator.astro'
import Button from './Button.astro'
const { h2, withButton = false } = Astro.props
---
<div class="heading-container"><h2>{h2}</h2>
  {withButton ?
  <Button href="/blog"
        icon="/icons/right-arrow.svg">Tous les articles</Button> : <></>}</div>

<p>
  <slot />
</p>
<Separator />

<style>
.heading-container {
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
}
</style>
