---
import Button from './Button.astro'


type Section = {
  header:string
  withButton?: boolean
  buttonLink?: string
  iconPath?: string
  buttonText?: string
}
const { header, withButton = false, buttonLink, iconPath, buttonText } = Astro.props
---

<section>
  <div class="heading-container"><h2>{header}</h2>
    {withButton ?
    <Button href={buttonLink}
          icon={iconPath}>{buttonText}</Button> : <></>}</div>
  <slot />
</section>
<style>
  .heading-container {
 /*  position: relative; */
  display: inline-flex;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  > a {
    position: absolute;
    right: 3rem;
  }
}
</style>
