---
const { showSocial } = Astro.props
---

<div class="social-links">
  <a href="https://twitter.com/nicolas_toison" target="_blank">
    <img src="/icons/twitter.svg" alt="Twitter Icon" />
    Twitter
  </a>
  <a href="https://www.linkedin.com/in/nicolastoison/" target="_blank">
    <img src="/icons/linkedin.svg" alt="LinkedIn Icon" />
    LinkedIn
  </a>
  <a href="https://github.com/NicolasTOISON" target="_blank">
    <img src="/icons/github.svg" alt="GitHub Icon" />
    Github
  </a>
  <a href="https://discord.gg/peuxzugqXa" target="_blank">
    <img src="/icons/discord.svg" alt="Discord Icon" />
    Discord
  </a>
</div>
<style>
  div {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    border-top: solid 1px #1d2656;
  }
  a {
    display: inline-flex;
    text-decoration: none;
    margin-left: 48px;
    margin-top: 16px;
    color: white;
  }
  a:hover {
    color: #637ffd;
  }
  a:first-child {
    margin-top: 32px;
  }
  img {
    max-height: 16px;
    margin: auto 0;
    padding-right: 12px;
  }
</style>
