---

---

<div class="values">
  <div class="background-image"></div>
  <div class="value">
    <svg
      width="48"
      height="48"
      viewBox="0 0 48 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_267_1271)">
        <path
          d="M47.8143 13.0882L39.8144 3.48832C39.6624 3.30673 39.4376 3.20117 39.2 3.20117H8.80036C8.56281 3.20117 8.338 3.30598 8.18594 3.48832L0.186076 13.0882C-0.0131397 13.3266 -0.0563579 13.6586 0.0756403 13.9393C0.207639 14.2201 0.49001 14.4001 0.800412 14.4001H47.1997C47.5102 14.4001 47.7925 14.2201 47.9245 13.9393C48.0559 13.6594 48.0135 13.3273 47.8143 13.0882ZM2.50851 12.8002L9.1748 4.80034H38.8248L45.4911 12.8002H2.50851Z"
          fill="#637FFD"></path>
        <path
          d="M24.7403 3.6939C24.6163 3.39475 24.3243 3.20032 24.0011 3.20032H8.80131C8.51491 3.20032 8.25091 3.35313 8.10776 3.60194C7.96461 3.85075 7.96536 4.15552 8.1102 4.40349L13.7101 14.0034C13.8349 14.2169 14.0517 14.3618 14.2981 14.3937C14.3325 14.3978 14.3669 14.4001 14.4005 14.4001C14.6117 14.4001 14.8157 14.3169 14.9669 14.1657L24.5668 4.56586C24.7955 4.33711 24.8643 3.99306 24.7403 3.6939ZM14.5685 12.301L10.1933 4.80033H22.0691L14.5685 12.301Z"
          fill="#637FFD"></path>
        <path
          d="M47.9158 13.2449C47.7814 12.9721 47.5031 12.7993 47.199 12.7993H0.799699C0.495672 12.7993 0.218082 12.9721 0.0828961 13.2449C-0.0515396 13.5177 -0.0203213 13.8433 0.164457 14.0849L23.3642 44.4845C23.5154 44.6829 23.7506 44.7997 24.0002 44.7997C24.2497 44.7997 24.4849 44.6829 24.6346 44.4845L47.8343 14.0849C48.0191 13.8433 48.0502 13.5177 47.9158 13.2449ZM24.0002 42.6813L2.41724 14.4002H45.5831L24.0002 42.6813Z"
          fill="#637FFD"></path>
        <path
          d="M24.7634 43.7581L15.1635 13.3585C15.0579 13.0257 14.7499 12.7993 14.4003 12.7993H0.800431C0.496404 12.7993 0.218814 12.9721 0.0836285 13.2449C-0.0508072 13.5177 -0.0195888 13.8433 0.16519 14.0849L23.3649 44.4845C23.5201 44.6885 23.7577 44.7997 24.0009 44.7997C24.1257 44.7997 24.252 44.7709 24.3689 44.7085C24.7138 44.5302 24.8801 44.1285 24.7634 43.7581ZM2.41722 14.4002H13.8139L21.8585 39.8751L2.41722 14.4002Z"
          fill="#637FFD"></path>
        <path
          d="M39.8935 3.60194C39.7511 3.35313 39.4864 3.20032 39.2 3.20032H24.0001C23.677 3.20032 23.3849 3.39475 23.2609 3.6939C23.1369 3.99306 23.2057 4.33711 23.4345 4.56586L33.0344 14.1657C33.1848 14.3169 33.3888 14.4001 33.6 14.4001C33.6344 14.4001 33.6688 14.3977 33.7032 14.3937C33.9488 14.3618 34.1664 14.2178 34.2912 14.0034L39.8911 4.40349C40.0351 4.15552 40.0359 3.85075 39.8935 3.60194ZM33.432 12.301L25.9313 4.80033H37.8071L33.432 12.301Z"
          fill="#637FFD"></path>
        <path
          d="M47.9175 13.2466C47.7831 12.9738 47.5047 12.801 47.2007 12.801H33.6009C33.2513 12.801 32.9425 13.0274 32.8377 13.3602L23.2378 43.7598C23.121 44.1294 23.2874 44.531 23.6322 44.7103C23.749 44.771 23.8754 44.7999 24.0002 44.7999C24.2426 44.7999 24.4802 44.6887 24.6361 44.4863L47.8359 14.0867C48.0207 13.8449 48.0519 13.5193 47.9175 13.2466ZM26.1418 39.875L34.1865 14.4001H45.5832L26.1418 39.875Z"
          fill="#637FFD"></path>
      </g>
      <defs>
        <clipPath id="clip0_267_1271">
          <rect width="48" height="48" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    <h3>Quality</h3>
    <p>Tincidunt iaculis nec pellentesque suscipit dapibus id arcu cras.</p>
  </div>
  <div class="value">
    <svg
      width="49"
      height="48"
      viewBox="0 0 49 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_267_1294)">
        <path
          d="M24.2501 10.4439L29.8994 4.79465C30.9388 3.75525 32.6239 3.75525 33.6633 4.79465L33.665 4.79634C34.164 5.29547 34.4446 5.97244 34.4446 6.67828C34.4446 7.38422 34.164 8.06119 33.665 8.56031C32.163 10.0622 30.3093 11.9159 30.3093 11.9159C30.3093 11.9159 31.2314 10.994 32.1586 10.0666C32.6579 9.56746 33.3347 9.28696 34.0408 9.28696C34.7466 9.28696 35.4237 9.56746 35.9227 10.0666L35.9243 10.0682C36.4235 10.5673 36.7039 11.2443 36.7039 11.9502C36.7039 12.6561 36.4235 13.333 35.9243 13.8322C34.684 15.0726 33.2876 16.469 33.2876 16.469C33.2876 16.469 33.809 15.9475 34.4181 15.3384C34.9171 14.8393 35.5942 14.5589 36.3 14.5589C37.006 14.5589 37.683 14.8393 38.182 15.3384L38.1838 15.3401C38.6828 15.8392 38.9632 16.5162 38.9632 17.2221C38.9632 17.928 38.6828 18.605 38.1838 19.1041C36.9435 20.3443 35.547 21.7408 35.547 21.7408C35.547 21.7408 36.0685 21.2194 36.6775 20.6103C37.1766 20.1112 37.8536 19.8307 38.5595 19.8307C39.2654 19.8307 39.9423 20.1112 40.4415 20.6103L40.4431 20.612C41.4825 21.6514 41.4825 23.3365 40.4431 24.3759C37.9388 26.8802 33.5224 31.2966 30.8988 33.9202C29.535 35.284 27.6854 36.0501 25.7566 36.0501H22.7439L13.7063 45.0876"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M25.7563 36.0501L34.7938 45.0876"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M39.3125 25.5064L46.8437 33.0376"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M8.81166 25.1306C9.31078 25.6297 9.98775 25.9102 10.6937 25.9102C11.3995 25.9102 12.0765 25.6297 12.5756 25.1306C12.5762 25.1301 12.5767 25.1295 12.5773 25.1289C13.0763 24.6298 13.3568 23.9528 13.3568 23.247C13.3568 22.5411 13.0763 21.8641 12.5773 21.365L11.8225 20.6102C11.3234 20.1111 10.6464 19.8307 9.9405 19.8307C9.23466 19.8307 8.55769 20.1111 8.05856 20.6102C8.058 20.6108 8.05744 20.6113 8.05687 20.6119C7.55784 21.111 7.27734 21.788 7.27734 22.4938C7.27734 23.1998 7.55784 23.8767 8.05687 24.3758C8.30634 24.6253 8.56219 24.8811 8.81166 25.1306Z"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12.5775 21.365C13.0765 21.8641 13.7536 22.1445 14.4594 22.1445C15.1653 22.1445 15.8423 21.8641 16.3414 21.365C16.3419 21.3645 16.3426 21.3639 16.3431 21.3633C16.8421 20.8643 17.1226 20.1872 17.1226 19.4814C17.1226 18.7754 16.8421 18.0985 16.3431 17.5993C15.623 16.8793 14.8021 16.0584 14.0821 15.3384C13.583 14.8393 12.906 14.5587 12.2001 14.5587C11.4942 14.5587 10.8172 14.8393 10.3181 15.3384C10.3176 15.3388 10.317 15.3395 10.3164 15.34C9.81737 15.8391 9.53687 16.5161 9.53687 17.222C9.53687 17.9278 9.81737 18.6049 10.3164 19.1039C11.0365 19.824 11.8574 20.6449 12.5775 21.365Z"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M16.343 17.5994C17.3824 18.6388 19.0675 18.6388 20.1068 17.5994C20.1074 17.5988 20.1081 17.5982 20.1085 17.5977C21.1479 16.5584 21.1479 14.8731 20.1085 13.8337C18.9581 12.6833 17.4918 11.2169 16.3413 10.0664C15.302 9.02704 13.6167 9.02704 12.5773 10.0664C12.5768 10.0669 12.5762 10.0676 12.5756 10.0681C11.5363 11.1074 11.5363 12.7927 12.5756 13.832C13.7261 14.9825 15.1925 16.4489 16.343 17.5994Z"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M20.1085 13.8338C20.6076 14.3329 21.2846 14.6133 21.9905 14.6133C22.6963 14.6133 23.3733 14.3329 23.8724 13.8338C23.873 13.8333 23.8736 13.8326 23.8741 13.8321C24.3732 13.333 24.6537 12.656 24.6537 11.9501C24.6537 11.2442 24.3732 10.5672 23.8741 10.0681C22.5217 8.71575 20.7061 6.90019 19.3537 5.54775C18.8547 5.04862 18.1776 4.76822 17.4718 4.76822C16.7658 4.76822 16.0888 5.04862 15.5898 5.54775C15.5893 5.54831 15.5886 5.54888 15.588 5.54944C15.089 6.04847 14.8086 6.72544 14.8086 7.43137C14.8086 8.13731 15.089 8.81428 15.588 9.31341C16.9405 10.6658 18.7561 12.4814 20.1085 13.8338Z"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M9.18747 25.5064L1.65625 33.0376"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M19.7312 5.92529L23.1776 4.20213C24.7175 3.43217 26.5774 3.73399 27.7948 4.95143L28.7687 5.92529"
          stroke="#637FFD"
          stroke-width="2"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
      <defs>
        <clipPath id="clip0_267_1294">
          <rect width="48" height="48" fill="white" transform="translate(0.25)"
          ></rect>
        </clipPath>
      </defs>
    </svg>

    <h3>Collaboration</h3>
    <p>Tincidunt iaculis nec pellentesque suscipit dapibus id arcu cras.</p>
  </div>
  <div class="value">
    <svg
      width="49"
      height="48"
      viewBox="0 0 49 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_267_1307)">
        <path
          d="M25.9041 28.9016C25.2283 27.7309 23.4864 27.7308 22.8104 28.9016L15.057 42.3308C14.38 43.5035 15.2545 45.0101 16.6039 45.0101H32.1107C33.46 45.0101 34.3345 43.5034 33.6576 42.3308L25.9041 28.9016ZM16.7578 43.1351L24.3573 29.9725L31.9568 43.1351H16.7578Z"
          fill="#637FFD"></path>
        <path
          d="M48.2614 12.1707L44.576 5.78724C44.258 5.23636 43.6653 4.89417 43.0291 4.89417H35.658C35.0218 4.89417 34.4291 5.23636 34.1111 5.78715L30.4256 12.1707C30.1075 12.7216 30.1075 13.406 30.4256 13.9568L34.111 20.3403C34.4291 20.8912 35.0218 21.2334 35.6579 21.2334H43.029C43.6652 21.2334 44.2579 20.8912 44.5759 20.3404L48.2614 13.9568C48.5795 13.4059 48.5795 12.7216 48.2614 12.1707ZM42.9778 19.3583H35.7093L32.0751 13.0638L35.7093 6.7691H42.9778L46.612 13.0637L42.9778 19.3583Z"
          fill="#637FFD"></path>
        <path
          d="M16.8393 19.4472V17.1893C16.7932 15.9467 15.0099 15.9476 14.9643 17.1893V19.3583H2.37503V6.76907H14.9643V8.99426C15.0104 10.2368 16.7936 10.2359 16.8393 8.99426V6.6802C16.8393 5.69534 16.038 4.89404 15.0531 4.89404H2.28615C1.30129 4.89404 0.5 5.69534 0.5 6.6802V19.4472C0.5 20.432 1.30129 21.2333 2.28615 21.2333H15.0531C16.038 21.2333 16.8393 20.432 16.8393 19.4472Z"
          fill="#637FFD"></path>
        <path
          d="M16.6813 12.5432C16.3959 12.1187 15.8072 12.0018 15.3809 12.2844C14.3823 13.0214 15.3564 14.4837 16.4216 13.8435C16.8461 13.5596 16.965 12.9684 16.6813 12.5432Z"
          fill="#637FFD"></path>
        <path
          d="M19.6848 5.52986C23.2916 4.46775 27.3018 4.68197 30.7622 6.14318C31.2339 6.34024 31.7917 6.11112 31.9887 5.63983C32.1884 5.16207 31.9631 4.61297 31.4854 4.41318C27.6322 2.78641 23.1741 2.54762 19.1585 3.7303C18.6616 3.87561 18.3766 4.39631 18.5218 4.89319C18.6672 5.39007 19.1876 5.67536 19.6848 5.52986Z"
          fill="#637FFD"></path>
        <path
          d="M16.0794 36.9955C16.3475 36.5525 16.2059 35.9761 15.7629 35.708C11.4602 33.1025 8.59452 28.7648 7.90076 23.8074C7.82904 23.2945 7.35503 22.9365 6.8424 23.0088C6.32958 23.0806 5.9721 23.5543 6.04382 24.0671C6.81605 29.5855 10.0045 34.413 14.7918 37.3118C15.2293 37.5768 15.8148 37.4324 16.0794 36.9955Z"
          fill="#637FFD"></path>
        <path
          d="M41.85 23.2476C41.3385 23.1689 40.8595 23.5199 40.7808 24.0316C40.0641 28.6889 37.3755 32.8411 33.4045 35.4237C32.9704 35.706 32.8474 36.2867 33.1297 36.7207C33.4082 37.1488 33.9981 37.2742 34.4268 36.9955C38.8447 34.1223 41.8361 29.5011 42.634 24.3169C42.7128 23.8051 42.3618 23.3264 41.85 23.2476Z"
          fill="#637FFD"></path>
      </g>
      <defs>
        <clipPath id="clip0_267_1307">
          <rect width="48" height="48" fill="white" transform="translate(0.5)"
          ></rect>
        </clipPath>
      </defs>
    </svg>
    <h3>Adaptation</h3>
    <p>Tincidunt iaculis nec pellentesque suscipit dapibus id arcu cras.</p>
  </div>
  <div class="value">
    <svg
      width="49"
      height="48"
      viewBox="0 0 49 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.75 24C2.75 28.1187 6.08889 31.4576 10.2077 31.4576C14.3265 31.4576 17.6653 28.1187 17.6653 24C17.6653 19.8812 14.3265 16.5423 10.2077 16.5423C6.08889 16.5423 2.75 19.8812 2.75 24Z"
        stroke="#637FFD"
        stroke-width="2"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M9.34326 23.9996C9.34326 24.477 9.73025 24.864 10.2077 24.864C10.6851 24.864 11.0721 24.477 11.0721 23.9996C11.0721 23.5222 10.6851 23.1352 10.2077 23.1352C9.73025 23.1352 9.34326 23.5222 9.34326 23.9996Z"
        stroke="#637FFD"
        stroke-width="2"></path>
      <path
        d="M31.835 9.45785C31.835 13.5766 35.1739 16.9155 39.2926 16.9155C43.4114 16.9155 46.7503 13.5766 46.7503 9.45785C46.7503 5.33907 43.4114 2.00018 39.2926 2.00018C35.1739 2.00018 31.835 5.33907 31.835 9.45785Z"
        stroke="#637FFD"
        stroke-width="2"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M31.835 38.5423C31.835 42.6611 35.1739 46 39.2926 46C43.4114 46 46.7503 42.6611 46.7503 38.5423C46.7503 34.4235 43.4114 31.0847 39.2926 31.0847C35.1739 31.0847 31.835 34.4235 31.835 38.5423Z"
        stroke="#637FFD"
        stroke-width="2"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M26.326 15.7545L16.8794 20.6643"
        stroke="#637FFD"
        stroke-width="2"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M16.8794 27.3356L26.326 32.2454"
        stroke="#637FFD"
        stroke-width="2"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M38.4282 9.45724C38.4282 9.93467 38.8152 10.3217 39.2926 10.3217C39.7701 10.3217 40.1571 9.93467 40.1571 9.45724C40.1571 8.9798 39.7701 8.59282 39.2926 8.59282C38.8152 8.59282 38.4282 8.9798 38.4282 9.45724Z"
        stroke="#637FFD"
        stroke-width="2"></path>
      <path
        d="M38.4282 38.5424C38.4282 39.0199 38.8152 39.4069 39.2926 39.4069C39.7701 39.4069 40.1571 39.0199 40.1571 38.5424C40.1571 38.065 39.7701 37.678 39.2926 37.678C38.8152 37.678 38.4282 38.065 38.4282 38.5424Z"
        stroke="#637FFD"
        stroke-width="2"></path>
    </svg>
    <h3>Sharing</h3>
    <p>Tincidunt iaculis nec pellentesque suscipit dapibus id arcu cras.</p>
  </div>
</div>
<style>
  .values {
    padding: 3rem 3rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    border: solid 1px #1d2656;
    position: relative;
  }
  .values > .background-image {
    position: absolute;
    opacity: 0.25;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('backgrounds/motif_sombre.svg');
    background-position: center;
    background-size: cover;
  }
  .value > svg {
    margin-bottom: 0.75rem;
  }
  .value > *:last-child {
    margin-top: 0.75rem;
    margin-bottom: 0;
  }
</style>
